@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.nav.active{
 background-color: #00b14f;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;

}
.nav-links li{
  list-style: none;
}
.item-link{
  text-decoration: none;
  font-size: 14px;
  text-shadow:  2px;
  
}
.logo .item-link{
  font-family: 'Rock Salt', cursive;
  padding-bottom: 20px;
  text-shadow:  2px 2px 4px black;
  padding-top: 15px;
  color:azure;
}
.logo .item-link.active{
  font-family: 'Rock Salt', cursive;
  padding-bottom: 20px;
  text-shadow:  2px 2px 4px green;
  padding-top: 15px;
  color: azure;
}
.burger{
  display: none;
}
.cart-icon-total{
    font-size: 10px;
}
/*HOMEPAGE*/
.home-page{
  height: 100vh;
  width: 100%;
}
.hero{
  background-image: url('./images/food-image12.jpg');
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.location-container{
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-location i{
  position: absolute;
  padding-top:8px;
}
.btn-search-location{
  padding: 2px 15px;
  background-color: #00b14f;
  border: none;
  color: azure;
  font-size: 20px;
  border-radius: 10px;

}
.section1{
  height: 100%;
  width: 100%;
}
.section2{
  height: 100%;
  width: 100%;
}

.cart-page{
  height: 100vh;
  width: 100%;
  
}
.login{
  height: 100vh;
  width: 100%;
 
}
.signup{
  height: 100vh;
  width: 100%;;
}